@use '../utils/variables';
@use '../utils/mixins';

.category {
  grid-column: 1 /-1;

  &__images {
    grid-column: 1 / -1;

    @include mixins.page-grid;
  }

  &__link {
    grid-column: span 1;
    text-decoration: none;
    margin-bottom: 16px;

    @include mixins.on-tablet {
      grid-column: span 3;
    }

    @include mixins.on-desktop {
      grid-column: span 6;
    }

    @include mixins.hover {
      transform: scale(1.05);

      @include mixins.box-shadow;
    }
  }

  &__image {
    display: block;
    width: 100%;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;

    margin: 0;

    @include mixins.on-tablet {
      font-size: 24px;
    }
  }
}
