@use '../utils/mixins';

.contact-us {
  margin-top: -32px;

  @include mixins.on-tablet {
    margin-top: 0;
  }

  &__title {
    margin: 0;
    margin-bottom: 48px;

    @include mixins.on-tablet {
      margin-bottom: 56px;
    }
  }

  &__wrapper {
    row-gap: 48px;

    @include mixins.page-grid;

    @include mixins.on-tablet {
      row-gap: 80px;
    }
  }

  &__feedback-form {
    grid-column: 1 /-1;

    @include mixins.on-desktop {
      grid-column: 1 / 7;
    }
  }

  &__contacts {
    grid-column: 1 / -1;
    height: fit-content;

    @include mixins.on-tablet {
      grid-column: span 4;
    }

    @include mixins.on-desktop {
      grid-column: 8 / -1;
    }
  }
}
