@use '../utils/variables';
@use '../utils/mixins';

.feedback {
  display: flex;
  flex-direction: column;

  &__input {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.15px;

    box-sizing: border-box;
    min-height: 48px;
    width: 100%;
    margin-bottom: 16px;
    padding: 14px 16px;

    border: 2px solid variables.$input-background-color;
    border-radius: variables.$main-border-radius;
    background-color: variables.$input-background-color;

    @include mixins.hover {
      border-color: #dbdbdb;
    }

    @include mixins.focus {
      outline: none;
      border: 2px solid variables.$primary-button-color;
    }
  }

  &__input--message {
    resize: none;
    min-height: 148px;
    margin-bottom: 32px;
    field-sizing: content;
  }
}
