@use '../utils/variables';
@use '../utils/mixins';

.main-button {
  width: 100%;
  height: 56px;
  cursor: pointer;

  background-color: variables.$primary-button-color;
  border: none;
  border-radius: variables.$main-border-radius;
  color: white;

  font-family: inherit;
  font-size: 16px;
  font-weight: 700;

  @include mixins.hover {
    background-color: variables.$main-text-color;
  }

  @include mixins.active {
    background-color: variables.$active-primary-button-color;
  }
}
