@use '../utils/mixins';

.recommended {
  &__title {
    margin: 0;
    margin-bottom: 48px;

    @include mixins.on-tablet {
      margin-bottom: 56px;
    }
  }

  &__products {
    row-gap: 40px;

    @include mixins.page-grid;

    @include mixins.on-tablet {
      row-gap: 56px;
    }
  }

  &__product {
    grid-column: 1 / -1;

    @include mixins.on-desktop {
      grid-column: span 4;
    }
  }
}
