@use '../utils/mixins';

.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;

  @include mixins.on-tablet {
    font-size: 40px;
  }

  @include mixins.on-desktop {
    font-size: 48px;
  }
}
