@use './mixins';

.container {
  padding-inline: 20px;

  @include mixins.on-tablet {
    padding-inline: 72px;
    margin-inline: auto;
    max-width: 600px;
  }

  @include mixins.on-desktop {
    padding-inline: 120px;
    margin-inline: auto;
    max-width: 1020px;
  }
}
